*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1500;
}

header{
    position: relative;
}

nav{
    position: absolute;
    top: 40px;
    width: 80%;
    right: 180px;
    border: 8px solid #ad77ff;
    background: white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-items{
    margin-top: 25px;
}

.nav-items a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
.nav-items a:hover{
    color: #4d0aad;
    text-decoration: underline;
}

nav p{
    margin-top: 25px;
}

.content{
    position: absolute;
    padding: 20px;
    top: 430px;
    left: 30px;
    /* border: 2px solid black; */
}

.content p{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 9, 1px;
    margin: 0, 0, 25px;
}

.content h6{
    font-size: 60px;
    font-weight: 600;
    color: #4d0aad;
    text-transform: capitalize;
    line-height: 77px;
    margin: 0 0 40px;
    max-width: 811px;
}
.pp{
    font-size: 16px!important;
    text-transform: lowercase!important;
    font-weight: 300!important;
    line-height: 25px !important;
    letter-spacing: 0px!important;
    margin: 0 0 30px!important;
    max-width: 557px!important;
}
.btn{
    background-color: black;
    color: white;
    padding: 15px 40px;
    box-shadow: 0px 6px 36px 0px rgb(17 17 17/ 40);
    border-radius: 100em;
}

main{
    padding: 5px;
}

.sec_one{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.box{
    width: 75%;
    height: 200px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    background: white
}
.box h6{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin: 0 0 23px;
}

.box h4{
    font-size: 21px;
    margin: 20px 0px;
    font-weight: 500;
    line-height: 41px;
}
.box p{
    max-width: 275px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.sec_two{
    /* border: 2px solid black; */
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

.sec_two> h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
    color: #202020;
    margin: 0 0 25px;
}

.text{
    display: flex;
    justify-content: space-between;
}

.text> h3{
    margin: 0 0 55px;
    max-width: 390px;
    font-size: 42px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    color: #4d0aa4;
}
.text> p{
    width: 447px;
    margin-top: 2rem;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}

.card{
    display: flex;
    justify-content: space-between;
}

.image_container{
    /* border: 2px solid red; */
    width: 45%;
    height: 250px;
    border-radius: 22px;
    position: relative;
}

.image_container img{
    width: 100%;
    height: 100%;
    border-radius: 22px;
}

.box_card{
    box-shadow: 0 10px 35px rgb(0 0 0 /29%);
    border-radius: 10px;
    max-width: 86%;
    margin: auto;
    height: 90px;
    position: absolute;
    bottom: -80px;
    background: white;
    left: 0;
    right: 0;
    text-align: center;
}
.box_card>span{
    width: 900px;
    height: 6px;
    color: red;
}

.sp{
    font-weight: 500;
    line-height: 39px;
    font-size: 22px;
    color: #202020;
}

.box_card> p{
    color: #9a9a9a;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    padding-left: 10px;
}

.sec_three{
    /* border: 3px solid black; */
    height: 200px;
    margin: 150px auto;
    /* background-color: #9a9a9a; */
    /* background-color: #9a9a9a6e; */
}
.hyundai> h2{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins",Sans-serif;
    color: #202020;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 5px;
}
.hyundai>h3{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins",Sans-serif;
    color: #4d0aad;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 65px;
    letter-spacing: -1px;
    margin: 0 0 45px;
    margin-top: 57px;
}
.hyundai> p{
    /* border: 3px solid red; */
    margin-left: 450px;
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: "Poppins",Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    max-width: 803px;
    text-align: center;
    
}

.sec_four{
    /* border: 2px solid black; */
    width: 1750px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    /* background-color: #9a9a9a6e; */
}
.container{
    border: 3px solid red;
    width: 600px;
    height: 250px;
    margin-left: 70px;
    margin-right: 150px;
    margin-top: 150px;
    border-radius: 30px;
    background-color: white;
    
}

.sec_five{
    /* border: 2px solid black; */
    width: 1750px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    /* background-color: #9a9a9a6e; */
}
.container2{
    border: 3px solid red;
    width: 600px;
    margin-top: 100px;
    height: 250px;
    margin-left: 70px;
    margin-right: 150px;
    border-radius: 30px;
    background-color: white
}

.container> h2{
    margin-left: 200px;
    color: #4d0aad;
    font-family: "Poppins",Sans-serif;
    font-size: 31px;
    font-weight: 500;
}
.container> h3{
    margin-left: 205px;
    margin-top: -0px;
    font-family: "Poppins",Sans-serif;
    font-size: 19px;
    text-transform: none;
    line-height: 27px;
}
.container> p{
   font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #202020;
    max-width: 90%;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 80px;
}
.container> h6{
    margin-left: 60px;
}

.container2> h2{
    margin-left: 200px;
    color: #4d0aad;
    font-family: "Poppins",Sans-serif;
    font-size: 31px;
    font-weight: 500;
}
.container2> h3{
    margin-left: 205px;
    margin-top: -0px;
    font-family: "Poppins",Sans-serif;
    font-size: 19px;
    text-transform: none;
    line-height: 27px;
}
.container2> p{
   font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #202020;
    max-width: 90%;
    margin-bottom: 5px;
    margin-top: 25px;
    margin-left: 120px;
}
.container2 h6{
    margin-left: 60px;
}

.box_cards{
    border: 3px solid red;
    width: 500px;
    height: 206px;
    border-radius: 22px;
    position: relative;
    top: 30px;
    right: 760px;
}

.box_cards2{
    border: 2x solid green;
    width: 100px;
    height: 260px;
    position: relative;
    top: 100px;
}